* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  position: relative;
  margin-bottom: 35px;
}

.main--container {
  max-width: 540px;
  margin: auto;
  object-fit: cover;
}


.banner {
  display: flex;
  flex-direction: column;
}

.banner--photo {
  max-width: 490px;
  margin: auto;
}

.banner--header {
  margin-bottom: 16px;
}

.banner--text {
  margin-top: 0px;
}

.cards-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  overflow-x: scroll;
}

.card--image {
  height: 235px;
  width: 93%;
}
.card {
  /* max-width: 135px; */
  font-size: 15px;
  position: relative;
}
.card-image {
  width: 100%;
}

.card--stats {
  display: flex;
  align-items: center;
}

/* .gray-button {
  font-size: large;
  color:#918E9B;
} */
.gray {
  color:#918E9B;
}

.bold {
  font-weight: bold;
}
.card--star {
  height: 14px;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}